 <div class="body">
 <div class="py-5">
    <div class="container">
      <div class="row hidden-md-up">
        <div class="col-md-4">
          <div class="card card1">
            <div class="card-block">
              <h1 class="card-title ">
                Development Points
                <a href="#" class="card-link eyeIcon"><i class="fa fa-eye" aria-hidden="true"></i></a>
              </h1>
              <h1 class="card-subtitle">
                 <!-- {{this.empSalary}}  -->
                 3
                <img src="/assets/Images/scoreIcon.png" class="scoreIcon">
              </h1>
              <p class="card-text p-y-1">Some quick example text .</p>
              <!-- <a href="#" class="card-link">link</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card2">
            <div class="card-block">
              <h1 class="card-title">
                Available Leaves
                <a href="#" class="card-link eyeIcon"><i class="fa fa-eye" aria-hidden="true"></i></a>
              </h1>
              <h1 class="card-subtitle">
                3
                <img src="/assets/Images/leaveIcon.png" class="leaveIcon">
              </h1>
              <p class="card-text p-y-1">Some quick example text .</p>
              <!-- <a href="#" class="card-link">link</a> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card3">
            <div class="card-block">
              <h1 class="card-title ">
                Working Hours
                <a href="#" class="card-link eyeIcon"><i class="fa fa-eye" aria-hidden="true"></i></a>
              </h1>
              <h1 class="card-subtitle">
                3
                <img src="/assets/Images/timeIcon.png" class="timeIcon">
              </h1>
              <p class="card-text p-y-1">Some quick example text.</p>
              <!-- <a href="#" class="card-link">link</a> -->
            </div>
          </div>
        </div>
      </div><br>
    </div>
  </div>
  </div>