.calendarWidth{
    width: 300px;
    margin-top: 20px;
    border: 2px solid rgb(231, 228, 228);
}

.example-custom-date-class {
    background: orange;
    border-radius: 100%;
  }
  
  .highlight-date{
    background-color: rgb(116, 204, 214) !important;
    border-radius: 50%;
    width: 30px !important;
    height: 30px !important;
  }

  