.navbar-custom{
    background-color: #36babc;
    z-index: 20;
    width: 100%;
}

.navbar-text{
    color: white !important;
    margin-left: 20px;
}

#icons{
    display: flex;
}

.timer{
    float: right;
}