.sidenav{
    position: fixed;
    width: 4.5rem;
    height: 100%;
    top: 0; 
    padding-top: 80px;
    z-index: 10;
}

.active, a:hover{
    background: rgb(54,186,188);
    background: linear-gradient(360deg, rgba(54,186,188,1) 0%, rgba(208,223,216,1) 100%);
}

.empImg{
    border-radius: 50%;
}

.toggleIcon{
margin-left: 60px;
}